// TODO: should be removed when QMeter is implemented
meter {
  width: 100%;
  height: 10px;
}

/* WebKit */
meter::-webkit-meter-bar {
  background: #eee;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
  border-radius: 3px;
}

/* Webkit based browsers */
meter::-webkit-meter-optimum-value {
  transition: width 0.4s linear;
}

meter[value='0']::-webkit-meter-optimum-value {
  background: grey;
}

meter[value='1']::-webkit-meter-optimum-value {
  background: red;
}

meter[value='2']::-webkit-meter-optimum-value {
  background: orange;
}

meter[value='3']::-webkit-meter-optimum-value {
  background: yellow;
}

meter[value='4']::-webkit-meter-optimum-value {
  background: green;
}

/* Gecko based browsers */
meter[value='0']::-moz-meter-bar {
  background: grey;
}

meter[value='1']::-moz-meter-bar {
  background: red;
}

meter[value='2']::-moz-meter-bar {
  background: orange;
}

meter[value='3']::-moz-meter-bar {
  background: yellow;
}

meter[value='4']::-moz-meter-bar {
  background: green;
}
