/* Image control popup (to show full size image) */
.q-image-preview {
    &__modal {
        &-buttons {
            display: flex;
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
        }

        &-button {
            color: $background;

            span {
                font-size: 1.6rem;

                .q-icon {
                    padding: unset !important;
                    fill: currentColor !important;
                }
            }
        }

        &-image {
            max-height: 90vh;
            max-width: 90vw;
            transition: auto 1s $transition-fn;
            box-shadow: 0 8px 8px #222;
            animation: q-image__modal-animation 1s $transition-fn;
        }

        &-main-container,
        &-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        &-main-container {
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(19, 19, 19, 0.8);
            z-index: 1500;
        }

        &-container {
            border-radius: 1rem;
            object-fit: contain;
            padding: 0 2rem;
            position: relative;
        }
    }
}
