// CSS for jQuery UI Draggable
.ui-draggable {
	&-handle {
		-ms-touch-action: none;
		touch-action: none;
	}

	&-dragging {
		z-index: 15
	}
}

.c-g-reporting {
	position: fixed;
	width: 100%;
	margin-top: 30px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	flex: 1;
	z-index: 12;
	transition: width $transition-speed $transition-fn, right $transition-speed $transition-fn;
	top: calc(var(--visible-header-height) * 1px);
	right: calc(var(--right-sidebar-width) * 1rem);
	width: calc(calc(var(--cav-width-percentage) * 1%) - calc(var(--right-sidebar-width) * var(--cav-width-percentage) / 100 * 1rem));

	.c-sidebar__tab-title {
		color: $secondary;
		padding-top: 0.25rem;
		margin-bottom: 0.2rem;
		display: inline;
		letter-spacing: 0.01rem;
		font-size: .95rem;
		line-height: 1;
		font-weight: 700;
		text-transform: $headings-text-transform;
		white-space: nowrap;
	}

	.c-action-bar {
		display: flex;
		align-items: center;
		padding: 0;
		margin-bottom: 1rem;
		background-color: white;

		.navbar-nav {
			flex-direction: row;
		}

		> .q-icon__svg {
			fill: $secondary;
			margin-left: .4rem;
		}
	}
}

.cav-content .w-btn-horiz .q-wizard-container {
	position: relative;
	display: block;
}

.cav-content .w-btn-horiz div.container-fluid {
	padding: 0 !important;
}

.cav-content .w-btn-horiz ul.q-wizard__steps--horizontal {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #fff;
	list-style: none;
	padding: 0;
	margin: 0;
}

.cav-content .w-btn-horiz .q-wizard__step {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 auto !important;
	text-align: center;
	position: relative;
	color: $gray;
	background-color: $background;
	opacity: 0.6;
	min-width: 80px;
	border-bottom: 1px solid $primary;
}

.cav-content .w-btn-horiz .q-wizard__step:hover {
	opacity: 1;
}

.cav-content .w-btn-horiz .q-wizard__step:not(.current-step):hover:after {
	position: absolute;
	content: "";
	background-color: $gray;
	min-width: 80px;
	height: 5px;
	bottom: 0;
	left: 0;
	right: 0;
}

.cav-content .w-btn-horiz .q-wizard__step::after {
	position: absolute;
	content: "";
	background-color: $background;
	min-width: 80px;
	height: 5px;
	bottom: 0;
	left: 0;
	right: 0;
}

.cav-content .w-btn-horiz a.q-wizard__step-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 0.9rem;
	line-height: 1.5;
	text-transform: $headings-text-transform;
	padding: 0.5rem 0 1rem 0;
	font-weight: 700 !important;
	color: $gray !important;
}

.cav-content {
	.w-btn-horiz {
		.q-wizard__step {
			a.nav-link {
				border: none;
				background-color: transparent;

				&:hover {
					background-color: transparent;
				}
			}

			&-number {
				display: block;
				color: $container;
				background-color: $gray;
				font-size: 1.25rem;
				font-weight: 700;
				text-align: center;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				line-height: 1.4;
			}

			&.required-step:hover:after {
				position: absolute;
				content: "";
				background-color: $primary;
				width: 100%;
				height: 5px;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}

		.current-step {
			&::after {
				position: absolute;
				content: "";
				background: $primary;
				width: 100%;
				height: 5px;
				bottom: 0;
				left: 0;
				right: 0;
			}

			a.q-wizard__step-link {
				font-size: .95rem;
				color: $primary !important;
			}

			a:hover {
				cursor: default !important;
			}

			.q-wizard__step-number {
				background-color: $primary;
			}
		}

		.required-step {
			opacity: 0.5;
			border-bottom-color: $primary;

			.q-wizard__step-number {
				background-color: $primary;
			}

			a.q-wizard__step-link {
				color: $primary !important;
			}

			&:hover {
				opacity: 1;
			}
		}

		.filled-step {
			border-bottom-color: $gray-dark;

			a.q-wizard__step-link {
				color: $gray-dark;
			}

			.q-wizard__step-number {
				background-color: $gray-dark;
			}
		}

		.g-reporting__flow-content h3 {
			font-size: 1.15rem;
			font-weight: 700;
			letter-spacing: 0.02rem;
			margin-bottom: 0;
			text-transform: $headings-text-transform;
			color: $primary;
			margin-bottom: 1rem;
		}
	}
}

.cav-content .w-btn-horiz .current-step,
.cav-content .w-btn-horiz .filled-step {
	opacity: 1;
}

/* content g-reporting__flow-content */
div.c-tab__item-container {
	&.g-reporting__flow-content {
		position: relative;
		width: 100%;
		background-color: $white;
		border: 1px solid $primary !important;
		color: $on-background;
		padding: .25rem .75rem;
		margin-bottom: 1rem;
	}

	&__actions {
		display: flex;
		gap: 0.5rem;
		margin-top: 1rem;
	}
}

.g-reporting__flow-content {
	margin-top: 1rem;
	border: 1px solid $primary;

	&-header {
		background-color: rgba(0, 0, 0, 0.05);
		padding: .5rem 0 .05rem .5rem;

		.q-icon--reporting {
			font-size: 0.9rem;
			color: $gray-dark;
		}

		h4 {
			font-size: .9rem;
			color: $gray-dark;
			line-height: 1;
		}
	}

	&-droppable {
		width: 100%;
		height: calc(100vh - calc(var(--visible-header-height) * 1px) - 430px);
		background-color: rgba(255, 255, 255, 0.1);
		display: flex;
		align-items: stretch;
		flex: 1 1 auto;
		flex-direction: column;
		overflow-y: auto;
		overflow-x: hidden;

		ul {
			list-style-type: none;
			padding: 0;
		}

		&-item {
			position: relative;
			border-top: 1px solid $light;
			padding: .25rem 1.75rem;

			&:hover {
				background-color: $light;
				box-shadow: 0 2px 7px 0 rgba(50, 50, 50, 0.5);
				cursor: pointer;

				.visible-on-hover {
					display: var(--display-mode, block);
				}
			}

			.delete {
				position: absolute;
				top: 1.5rem;
				right: 1rem;

				.q-icon--reporting {
					color: $primary;
					font-size: 1.1rem;

					&:hover {
						color: $hover-primary;
					}
				}
			}

			.text-lis {
				line-height: 1.5;

				.q-icon--reporting {
					margin-right: .25rem;
					line-height: 1.5;
				}

				strong {
					margin-left: 1.25rem;
					line-height: 2;
				}
			}
		}

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar {
			width: 9px;
			background-color: rgba(0,0,0,0.2);
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba(0,0,0,0.2);
		}
	}

	&-subtitle {
		color: $primary;
		padding: .25rem 1.5rem;

		.q-icon--reporting {
			margin: .25rem;
		}
	}

	&-selectable {
		margin-top: 1rem 0 0 .25rem;
		height: calc(100vh - calc(var(--visible-header-height) * 1px) - 430px);
		overflow-y: auto;
		overflow-x: hidden;

		ul {
			list-style-type: none;
			padding: 0;
			width: 100%;
		}

		&-item {
			position: relative;
			border-top: 1px solid $light;
			padding: .25rem;

			&:hover {
				box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.5);
				cursor: pointer;

				i.q-icon--reporting {
					display: block;
				}

				.visible-on-hover {
					display: var(--display-mode, block);
				}
			}

			i.q-icon--reporting {
				float: right;
				display: none;
				opacity: 0.5;
				font-size: 1rem;
				color: $primary;
				margin-left: .5rem;
				position: absolute;
				right: 5px;
				top: 5px;
			}
		}

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar {
			width: 9px;
			background-color: rgba(0,0,0,0.2);
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba(0,0,0,0.2);
		}
	}

	.pagination .q-icon {
		font-size: 1rem !important;
		margin-top: .25rem;
		margin-right: .25rem;
		line-height: 1.5;
	}

	.visible-on-hover {
		display: none;
	}

	.orders {
		cursor: pointer;
		font-style: italic;
		font-weight: bold;
		float: right;
		margin-left: 10px;
		padding-right: 20px;

		span {
			padding-right: .2rem;
		}

		i {
			padding-top: .2rem;
			height: 20px;
			width: 22px;
		}
	}
}

i.g-reporting__i-remove {
	position: relative;
	height: 20px;
	width: 22px;
	float: right;
	cursor: pointer;
}

/* end reset */
.g-reporting__flow-search {
	display: flex;
	flex-direction: row;
	padding-bottom: 1rem;
}

.g-reporting__flow-subtitle {
	white-space: nowrap;
	font-weight: 500;
	font-size: 1rem;
	margin-right: 2rem;
	margin-top: .75rem;
	color: $primary;
	position: relative;
}

div.ms-selectable.g-reporting__flow-content-selectable {
	padding: 0;
	border: 1px solid $light;
	background-color: #fff;
	cursor: pointer;
	color: $on-background;
	display: flex;
}

.reportmodeon {
	width: 50%;
	margin-right: 50%;
}

.ms-selected {
	display: none;
}

.ms-selection {
	margin-left: 40px;
}

.condition {
	display: inline-block;
	width: auto;
	padding: 10px;
}

div.text-lis {
	width: 90%;

	& > div {
		display: inline;
	}
}

li.ms-elem-selected.group {
	background-color: transparent;
	height: auto;
}

.d-flex .q-icon--reporting,
.d-inline-flex .q-icon--reporting {
	color: $primary;
	margin-left: .25rem;
	margin-top: .25rem;
	cursor: pointer;
}
