//
// Core: Layout
//

@use 'sass:color';

.wrapper {
	min-height: 100%;
}

.wrapper {
	position: relative;

	.content-wrapper {
		min-height: calc(100vh - #{$main-header-height} - #{$main-footer-height});
	}
}

.content-wrapper {
	background-color: $main-bg;

	> .content {
		padding: $content-padding-y $content-padding-x;
	}
}

.main-sidebar {
	&,
	&::before {
		$local-sidebar-transition: margin-left $transition-speed $transition-fn, width $transition-speed $transition-fn;
		width: $sidebar-width;
		@include transition($local-sidebar-transition);
	}

	.sidebar-collapse & {
		&,
		&::before {
			box-shadow: none !important;
		}
	}

	.sidebar-collapse & {
		&,
		&::before {
			margin-left: -$sidebar-width;
		}

		.nav-sidebar.nav-child-indent .nav-treeview {
			padding: 0;
		}
	}
}

.main-footer {
	background-color: $main-footer-bg;
	border-top: $main-footer-border-top;
	color: color.adjust($gray-700, $lightness: 25%);
	padding: $main-footer-padding;

	.text-sm &,
	&.text-sm {
		padding: $main-footer-padding-sm;
	}
}
