//
// Component: Main Sidebar
//

.nav-sidebar {
	position: relative;

	&:hover {
		overflow: visible;
	}
}

.sidebar-form,
.nav-sidebar > .nav-header {
	overflow: hidden;
	text-overflow: clip;
}

.nav-sidebar .nav-item > .nav-link {
	position: relative;

	> .float-right {
		margin-top: -7px;
		position: absolute;
		right: 10px;
		top: 50%;
	}
}

.sidebar .nav-link p,
.main-sidebar .brand-text,
.sidebar .user-panel .info {
	@include transition(margin-left $transition-speed linear, opacity $transition-speed ease, visibility $transition-speed ease);
}

.main-sidebar {
	height: 100vh;
	overflow-y: hidden;
	z-index: $zindex-main-sidebar;

	// Remove Firefox Focusring
	a {
		&:-moz-focusring {
			border: 0;
			outline: none;
		}
	}

	li.dropdown-divider {
		margin: 0.25rem 0;
		border-top: 1px solid rgb($on-secondary-rgb / 0.2);
	}
}

.sidebar {
	height: calc(100% - (#{$main-header-height-inner} + #{$main-header-bottom-border-width}));
	overflow-x: none;
	overflow-y: initial;
	scroll-behavior: smooth;
	padding-bottom: $sidebar-padding-y;
	padding-left: $sidebar-padding-x;
	padding-right: $sidebar-padding-x;
	padding-top: $sidebar-padding-y;
	@include scrollbar-width-thin();
}

// Sidebar navigation menu
.nav-sidebar {
	// All levels
	.nav-item {
		> .nav-link {
			margin-bottom: 0.2rem;

			.right {
				@include transition(transform $transition-fn $transition-speed);
			}
		}
	}

	.nav-link > .right,
	.nav-link > p > .right {
		position: absolute;
		right: 0.5rem;
		top: 0.7rem;

		i,
		span {
			margin-left: 0.5rem;
		}
	}

	.menu-open {
		> .nav-treeview {
			display: block;
		}
	}

	// First Level
	> .nav-item {
		margin-bottom: 0;

		.nav-icon {
			text-align: center;
			padding: 0;
		}

		.float-right {
			margin-top: 3px;
		}
	}

	// Tree view menu
	.nav-treeview {
		display: none;
		list-style: none;
		padding: 0;

		> .nav-item {
			> .nav-link {
				> .nav-icon {
					width: $sidebar-nav-icon-width;
				}
			}
		}
	}

	&.nav-child-indent {
		.nav-treeview {
			transition: padding $transition-speed $transition-fn;
			padding-left: 1rem;

			.text-sm & {
				padding-left: 0.5rem;
			}
		}

		&.nav-legacy {
			.nav-treeview {
				.nav-treeview {
					padding-left: 2rem;
					margin-left: -1rem;

					.text-sm & {
						padding-left: 1rem;
						margin-left: -0.5rem;
					}
				}
			}
		}
	}

	.nav-header {
		font-size: 0.9rem;
		padding: $nav-link-padding-y ($nav-link-padding-y * 1.5);
	}

	.nav-link p {
		display: inline;
		margin: 0;
		margin-top: 0 !important;
	}
}

// Sidebar Search
.sidebar-collapse {
	.form-control-sidebar,
	.form-control-sidebar ~ .input-group-append,
	.sidebar-search-results {
		display: none;
	}
}

[data-widget="sidebar-search"] {
	input[type="search"] {
		&::-ms-clear,
		&::-ms-reveal {
			display: none;
			width: 0;
			height: 0;
		}

		&::-webkit-search-cancel-button,
		&::-webkit-search-decoration,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}
	}
}

.sidebar-search-results {
	position: relative;
	display: none;
	width: 100%;

	.sidebar-search-open & {
		display: inline-block;
	}

	.search-title {
		margin-bottom: -0.1rem;
	}

	.list-group {
		position: absolute;
		width: 100%;
		z-index: $zindex-main-sidebar + 1;

		> .list-group-item {
			padding: $input-padding-y $input-padding-x;

			&:-moz-focusring {
				margin-top: 0;
				border-left: 1px solid transparent;
				border-top: 0;
				border-bottom: 1px solid transparent;
			}

			&:first-child {
				margin-top: 0;
				border-top: 0;
				@include border-top-radius(0);
			}
		}
	}
}

.sidebar-search-results .search-path {
	font-size: $small-font-size;
}

.sidebar-search-open {
	.btn,
	.form-control {
		@include border-bottom-radius(0);
	}
}

aside.main-sidebar #menu-tree-view .level, 
.sidebar-collapse aside.main-sidebar:hover #menu-tree-view .level {
	&-0 {
		$opacity: 0.9;
		@include menu-multi-level-border(0, 0, $opacity);
		@include menu-multi-level(1.75rem, $opacity);
	}

	&-1 {
		$opacity: 0.7;
		@include menu-multi-level-border(1, 0.5rem, $opacity);
		@include menu-multi-level(2.25rem, $opacity);
	}

	&-2 {
		$opacity: 0.5;
		@include menu-multi-level-border(2, 1rem, $opacity);
		@include menu-multi-level(2.75rem, $opacity);
	}
}

.sidebar-collapse aside.main-sidebar #menu-tree-view .nav-treeview {
	@include menu-multi-level(1rem, 0);
}
