
USE [W_GnBD]
-- comment to prevent the file from being empty
-- if the file is empty the backoffice will throw an error

EXEC BackupComputedColumns
GO
USE [W_GnBD]
IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[Age]') AND xtype IN (N'FN', N'IF', N'TF')) DROP FUNCTION [dbo].[Age]
GO
CREATE FUNCTION [dbo].[Age]
( 
  @birthdate datetime )
 RETURNS float(53)
    BEGIN
--BEGIN_FUNCTION:49213028-ac4b-4ee8-a090-049678b99a60
return(
SELECT DATEDIFF(YEAR,@birthdate, GETDATE())-
CASE
	WHEN (MONTH(GETDATE()) < MONTH(@birthdate))
	OR (MONTH(GETDATE()) = MONTH(@birthdate) AND DAY(GETDATE()) < DAY(@birthdate))
	THEN 1
	ELSE 0
END

)

		

--END_FUNCTION
    END
GO
USE [W_GnBD]
IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[Average]') AND xtype IN (N'FN', N'IF', N'TF')) DROP FUNCTION [dbo].[Average]
GO
CREATE FUNCTION [dbo].[Average]
( 
 )
 RETURNS float(53)
    BEGIN
--BEGIN_FUNCTION:abf14ba1-9a53-4fad-a89f-5e6aa1fd4c8c
return(
    SELECT (AVG(FORPROPERTY.PRICE)) FROM FORPROPERTY WHERE FORPROPERTY.ZZSTATE = 0
)
--END_FUNCTION
    END
GO
USE [W_GnBD]
IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[getCityTax]') AND xtype IN (N'FN', N'IF', N'TF')) DROP FUNCTION [dbo].[getCityTax]
GO
CREATE FUNCTION [dbo].[getCityTax]
( 
   @codProperty varchar(4000) )
 RETURNS float(53)
    BEGIN
--BEGIN_FUNCTION:29b4e11c-7b24-4d45-bd4a-8d848133f260
return(
SELECT TOP 1 FORCTAX.TAX
FROM FORPROPERTY
JOIN FORCTAX ON FORCTAX.CODCITY = FORPROPERTY.CODCITY
WHERE FORPROPERTY.CODPROPE = @codProperty
ORDER BY FORCTAX.CODCTAX DESC
)
--END_FUNCTION
    END
GO
 EXEC RestoreComputedColumns
GO