use [W_GnBD]

--converter o antigo schema de logins para o novo
--caso a tabela antiga de psw ainda exista então vamos migrar os dados e no fim apagamos/renomeamos a tabela
if exists(SELECT top 1 name FROM sysobjects where name = 'FORPSW')
begin
	insert into UserLogin (CODPSW, NOME, PASSWORD, PSWTYPE, DATAPSW, CERTSN, ZZSTATE)
	select CODPSW, NOME, PASSWORD, 'QH', GETDATE(), CERTSN, ZZSTATE from FORPSW;

--para codigos internos
	if (not exists(select id_objecto from Codigos_Sequenciais where id_objecto='UserAuthorization'))
		insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', 1)

	declare @codtbl table (cod int);
	declare @bs int;
	declare @cod int;
	SELECT @bs = count(1) from FORpsw;
	insert into @codtbl exec UpdateCod 'UserAuthorization', @bs;
	select @cod = cod from @codtbl;
BEGIN TRY
	insert into UserAuthorization (CODUA, CODPSW, SISTEMA, MODULO, NIVEL, ZZSTATE)
	select STR(@cod - 1 + ROW_NUMBER() OVER (ORDER BY codpsw), 6), CODPSW, 'FOR', 'FOR', [FOR], 0 from FORPSW;
END TRY
BEGIN CATCH
END CATCH;
	EXEC sp_rename 'FORPSW', 'backupFORPSW'
end
GO

--caso a tabela antiga de docums ainda exista então vamos migrar os dados e no fim apagamos/renomeamos a tabela
if exists(SELECT top 1 name FROM sysobjects where name = 'FORDOCUMS')
begin
	INSERT INTO DOCUMS ([coddocums],[documid],[document],[docpath],[tabela],[campo],[chave],[form],[nome],[versao],[tamanho],[extensao],[opercria],[datacria],[opermuda],[datamuda],[ZZSTATE])
	SELECT [coddocums],[documid],[document],[docpath],[tabela],[campo],[chave],[form],[nome],[versao],[tamanho],[extensao],[opercria],[datacria],[opermuda],[datamuda],[ZZSTATE] FROM FORDOCUMS
	EXEC sp_rename 'FORDOCUMS', 'backupFORDOCUMS'
end
GO

--caso a tabela antiga de hashcd ainda exista então vamos migrar os dados e no fim apagamos/renomeamos a tabela
if exists(SELECT top 1 name FROM sysobjects where name = 'FORhashcd')
begin
	INSERT INTO hashcd ([tabela],[campos],[datacria],[ZZSTATE],[codhashcd])
	SELECT [tabela],[campos],[datacria],[ZZSTATE],[codhashcd] FROM FORhashcd
	EXEC sp_rename 'FORhashcd', 'backupFORhashcd'
end
GO

if (object_id(N'[dbo].[FillHashcd]', 'P') is not null) drop procedure [dbo].[FillHashcd]
EXEC ('CREATE PROCEDURE dbo.FillHashcd
AS
BEGIN
  DECLARE @o_proximo int = 0
  DECLARE @_campos varchar(max) = '''', @_ccampos varchar(max) = ''''
  DECLARE @codHashcd bigint
END')
GO

EXEC dbo.FillHashcd
GO

if (object_id(N'[dbo].[UpdateUserSettingsFormat_0_1]', 'P') is not null) drop procedure [dbo].[UpdateUserSettingsFormat_0_1]
EXEC ('CREATE PROCEDURE dbo.UpdateUserSettingsFormat_0_1
AS
BEGIN
UPDATE FORtblcfg SET CONFIG =
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
REPLACE(
CONFIG,
''~'', ''|~|''),
''"'', ''~"''),
''\~"Name\~"'', ''"name"''),
''\~"Active\~"'', ''"active"''),
''\~"Conditions\~"'', ''"conditions"''),
''\~"Field\~"'', ''"field"''),
''\~"Operator\~"'', ''"operator"''),
''\~"Values\~"'', ''"values"''),
''\~"'', ''"''),
''~"advancedFilters~"'', ''"advancedFilters"''),
''~"columnFilters~"'', ''"columnFilters"''),
''~"groupFilterValues~"'', ''"staticFilters"''),
''~"activeFilter~"'', ''"activeFilter"''),
''~"initialSortColumn~"'', ''"columnOrderBy"''),
''~"perPage~"'', ''"rowsPerPage"''),
''~"defaultSearchColumn~"'', ''"defaultSearchColumn"''),
''~"columnOrder~"'', ''"columnConfiguration"''),
''~"columnSizes~"'', ''"columnSizes"''),
''~"hasTextWrap~"'', ''"lineBreak"''),
''\\'', ''\''),
''~"'', ''''),
''|~|'', ''~'')
UPDATE FORcfg SET usrsetv = 1;
END')
GO

if (object_id(N'[dbo].[UpdateUserSettingsFormat_1_2]', 'P') is not null) drop procedure [dbo].[UpdateUserSettingsFormat_1_2]
EXEC ('CREATE PROCEDURE dbo.UpdateUserSettingsFormat_1_2
AS
BEGIN
UPDATE FORtblcfg SET usrsetv = 1;
UPDATE FORcfg SET usrsetv = 2;
END')
GO

if (object_id(N'[dbo].[UpdateUserSettingsFormat_tblcfgsel]', 'P') is not null) drop procedure [dbo].[UpdateUserSettingsFormat_tblcfgsel]
EXEC ('CREATE PROCEDURE dbo.UpdateUserSettingsFormat_tblcfgsel
AS
BEGIN
-- Init the ISDEFAULT column
UPDATE FORtblcfg SET ISDEFAULT = 0;

-- Move default view indicator to table TBLCFG
UPDATE cfg
SET ISDEFAULT = 1
FROM FORtblcfg cfg
INNER JOIN FORtblcfgsel sel ON cfg.CODTBLCFG = sel.CODTBLCFG;

-- Drop table TBLCFGSEL afterwards
DROP TABLE FORtblcfgsel;

-- Also drop column CONFIGID, as it is not being used
ALTER TABLE FORtblcfg DROP COLUMN CONFIGID;
END')
GO

if (object_id(N'[dbo].[UpdateUserSettingsFormat_2_3]', 'P') is not null) drop procedure [dbo].[UpdateUserSettingsFormat_2_3]
EXEC ('CREATE PROCEDURE dbo.UpdateUserSettingsFormat_2_3
AS
BEGIN
UPDATE FORcfg SET usrsetv = 3;
END')
GO

DECLARE @usrsetv INT
SELECT @usrsetv = usrsetv FROM dbo.FORcfg
IF @usrsetv = '0'
	EXEC dbo.UpdateUserSettingsFormat_0_1
GO
DECLARE @usrsetv INT
SELECT @usrsetv = usrsetv FROM dbo.FORcfg
IF @usrsetv = '1'
	EXEC dbo.UpdateUserSettingsFormat_1_2
GO
DECLARE @TableExists BIT = IIF(OBJECT_ID('dbo.FORtblcfgsel', 'U') IS NOT NULL, 1, 0);
IF @TableExists = 1
	EXEC dbo.UpdateUserSettingsFormat_tblcfgsel
GO
DECLARE @usrsetv INT
SELECT @usrsetv = usrsetv FROM dbo.FORcfg
IF @usrsetv = '2'
	EXEC dbo.UpdateUserSettingsFormat_2_3
GO
