-- A actualização de estados transforma as linhas de todas as tabelas com o zzstate a 1 para zzstate a 11 (fichas vermelhas)
use [W_GnBD]
UPDATE [FORCTAX] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [FORCONTACT] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [FORCITY] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [USERAUTHORIZATION] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [FORPHOTO] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [FORMEM] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [NOTIFICATIONEMAILSIGNATURE] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [NOTIFICATIONMESSAGE] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [ASYNCPROCESSATTACHMENTS] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [FORPROPERTY] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [ASYNCPROCESSARGUMENT] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [USERLOGIN] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [ASYNCPROCESS] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [FORCOUNT] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
UPDATE [FORAGENT] SET zzState=(CASE WHEN zzState IS NULL THEN 0 WHEN zzState=1 THEN 11 END) WHERE zzState IS NULL OR zzState=1
GO
