USE [W_GnBD]
if (22 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FORCOUNT_CODCOUNT', 'codcount', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu FOR_311
SELECT 'FORCOUNT_23241D40D3764917', 'country', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'forcount', 'FORCOUNT_CODCOUNT', 'for';
end
GO
if (22 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FORMEM_CODMEM__', 'codmem', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'formem', 'FORMEM_CODMEM__', 'for';
end
GO
if (22 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERLOGIN_CODPSW__', 'codpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PSW
SELECT 'FORPSW_4A772E2CAF3B4ABA', 'nome', 0, 1, 0, 0
UNION ALL
SELECT 'FORPSW_4A772E2CAF3B4ABA','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userlogin', 'USERLOGIN_CODPSW__', 'for';
end
GO
if (22 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESS_CODASCPR', 'codascpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocess', 'ASYNCPROCESS_CODASCPR', 'for';
end
GO
if (22 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'codsigna', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationemailsignature', 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'for';
end
GO
if (22 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONMESSAGE_CODMESGS', 'codmesgs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationmessage', 'NOTIFICATIONMESSAGE_CODMESGS', 'for';
end
GO
if (22 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FORCITY_CODCITY_', 'codcity', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu FOR_321
SELECT 'FORCITY_CAEEF91127794EB8', 'city', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'forcity', 'FORCITY_CODCITY_', 'for';
end
GO
if (22 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSARGUMENT_CODARGPR', 'codargpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessargument', 'ASYNCPROCESSARGUMENT_CODARGPR', 'for';
end
GO
if (22 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'codpranx', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessattachments', 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'for';
end
GO
if (22 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERAUTHORIZATION_CODUA___', 'codua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup S_UA
SELECT 'FORS_UA_D263F6F1AD3F44A1', 'naodupli', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup S_UA
SELECT 'FORS_UA_D263F6F1AD3F44A1', 'role', 0, 2, 0, 0
UNION ALL
SELECT 'FORS_UA_D263F6F1AD3F44A1','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userauthorization', 'USERAUTHORIZATION_CODUA___', 'for';
end
GO
if (28 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FORAGENT_CODAGENT', 'codagent', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup AGENT
SELECT 'FORAGENT_5E15612D94964C11', 'email', 0, 1, 0, 0
UNION ALL
SELECT 'FORAGENT_5E15612D94964C11','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu FOR_11
SELECT 'FORAGENT_9762ED02BAE24C15', 'birthdat', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB lookup PROPERTYAGENTNAME
SELECT 'FORAGENT_D7EFFBB27A0C4249', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'foragent', 'FORAGENT_CODAGENT', 'for';
end
GO
if (22 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FORCTAX_CODCTAX_', 'codctax', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu FOR_3211
SELECT 'FORCTAX_5F390BFE3ECA4633', 'codcity', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'forctax', 'FORCTAX_CODCTAX_', 'for';
end
GO
if (35 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FORPROPE_CODPROPE', 'codprope', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula SR AGENT
SELECT 'FORPROPE_F895D0281A7344E5', 'codagent', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula SR AGENT
SELECT 'FORPROPE_F895D0281A7344E5', 'dtsold', 0, 2, 0, 0
UNION ALL
SELECT 'FORPROPE_F895D0281A7344E5','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu FOR_21
SELECT 'FORPROPE_F062C5FD729A419C', 'dtconst', 0, 1, 0, 0
UNION ALL
SELECT 'FORPROPE_F062C5FD729A419C','sold', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu FOR_411
SELECT 'FORPROPE_4CF3727373C94222', 'codagent', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu FOR_411
SELECT 'FORPROPE_4CF3727373C94222', 'dtconst', 0, 2, 0, 0
UNION ALL
-- Index with origin: DB lookup CONTACTPROPETITLE
SELECT 'FORPROPE_73029FF6CF7147FE', 'title', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB limites CONTACTPROPETITLE
SELECT 'FORPROPE_8F3CF6C759674D8B', 'codprope', 0, 1, 0, 0
UNION ALL
SELECT 'FORPROPE_8F3CF6C759674D8B','sold', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'forproperty', 'FORPROPE_CODPROPE', 'for';
end
GO
if (29 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FORCONTA_CODCONTA', 'codconta', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Formula SR PROPE
SELECT 'FORCONTA_43D9DBC4561B4F07', 'codprope', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula SR PROPE
SELECT 'FORCONTA_43D9DBC4561B4F07', 'visit_date', 0, 2, 0, 0
UNION ALL
SELECT 'FORCONTA_43D9DBC4561B4F07','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu FOR_81
SELECT 'FORCONTA_1F7486EDA8BF42AD', 'visit_date', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'forcontact', 'FORCONTA_CODCONTA', 'for';
end
GO
if (22 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'FORPHOTO_CODPHOTO', 'codphoto', 1, 1, 0, 1
 UNION ALL
-- Index with origin: DP PROPERTYPSEUDFIELD001
SELECT 'FORPHOTO_BAB14303B81A405F', 'codprope', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'forphoto', 'FORPHOTO_CODPHOTO', 'for';
end
GO

if (36 > isnull((select versindx from FORcfg),0) or 'W_GnZeroTrue'='1')
begin
-- Indíces de tabelas hardcoded (continuam da forma antiga [apagar e criar])
if (exists(select top 1 name from sys.indexes where name = 'foralerta_alerta01'))
	DROP INDEX foralerta_alerta01 ON foralerta
CREATE INDEX foralerta_alerta01 ON foralerta (codaltent)

if (exists(select top 1 name from sys.indexes where name = 'forpostit_postit01'))
	DROP INDEX forpostit_postit01 ON forpostit
CREATE INDEX forpostit_postit01 ON forpostit (tabela,codtabel)

if (exists(select top 1 name from sys.indexes where name = 'forpostit_postit02'))
	DROP INDEX forpostit_postit02 ON forpostit
CREATE INDEX forpostit_postit02 ON forpostit (codtabel)

if (exists(select top 1 name from sys.indexes where name = 'forpostit_postit03'))
	DROP INDEX forpostit_postit03 ON forpostit
CREATE INDEX forpostit_postit03 ON forpostit (postit)

if (exists(select top 1 name from sys.indexes where name = 'forpostit_postit04'))
	DROP INDEX forpostit_postit04 ON forpostit
CREATE INDEX forpostit_postit04 ON forpostit (tpostit)

if (exists(select top 1 name from sys.indexes where name = 'forpostit_postit05'))
	DROP INDEX forpostit_postit05 ON forpostit
CREATE INDEX forpostit_postit05 ON forpostit (codpsw)


if (exists(select top 1 name from sys.indexes where name = 'forpostit_postit06'))
	DROP INDEX forpostit_postit06 ON forpostit
CREATE INDEX forpostit_postit06 ON forpostit (nivel)

if (exists(select top 1 name from sys.indexes where name = 'forpostit_postit07'))
	DROP INDEX forpostit_postit07 ON forpostit
CREATE INDEX forpostit_postit07 ON forpostit (codpost1)


-- Menu notes
if (exists(select top 1 name from sys.indexes where name = 'forpostit_postit08'))
	DROP INDEX forpostit_postit08 ON forpostit
CREATE INDEX forpostit_postit08 ON forpostit (zzstate, tabela, validade)
INCLUDE (codpostit, postit, tpostit, recipient, datacria, opercria)
WHERE apagado IS NULL AND tpostit = 'T'

if (exists(select top 1 name from sys.indexes where name = 'forpostit_postit09'))
	DROP INDEX forpostit_postit09 ON forpostit
CREATE INDEX forpostit_postit09 ON forpostit (zzstate, tabela, codpsw, validade)
INCLUDE (codpostit, postit, tpostit, recipient, datacria, opercria)
WHERE apagado IS NULL AND tpostit IN ('P','D')


-- Form notes
if (exists(select top 1 name from sys.indexes where name = 'forpostit_postit10'))
	DROP INDEX forpostit_postit10 ON forpostit
CREATE INDEX forpostit_postit10 ON forpostit (zzstate, tabela, codtabel, validade)
INCLUDE (codpostit, postit, tpostit, recipient, datacria, opercria)
WHERE apagado IS NULL AND tpostit = 'T'

if (exists(select top 1 name from sys.indexes where name = 'forpostit_postit11'))
	DROP INDEX forpostit_postit11 ON forpostit
CREATE INDEX forpostit_postit11 ON forpostit (zzstate, tabela, codtabel, codpsw, validade)
INCLUDE (codpostit, postit, tpostit, recipient, datacria, opercria)
WHERE apagado IS NULL AND tpostit IN ('P','D')


if (exists(select top 1 name from sys.indexes where name = 'foraltent_altent01'))
	DROP INDEX foraltent_altent01 ON foraltent
CREATE INDEX foraltent_altent01 ON foraltent (codtalert,tipo)

if (exists(select top 1 name from sys.indexes where name = 'fordelega_delega01'))
	DROP INDEX fordelega_delega01 ON fordelega
CREATE INDEX fordelega_delega01 ON fordelega (coddelega,codpswup)

if (exists(select top 1 name from sys.indexes where name = 'fordelega_delega02'))
	DROP INDEX fordelega_delega02 ON fordelega
CREATE INDEX fordelega_delega02 ON fordelega (coddelega,codpswdw)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums01'))
	DROP INDEX docums_docums01 ON docums
CREATE INDEX docums_docums01 ON docums (documid,versao)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums02'))
	DROP INDEX docums_docums02 ON docums
CREATE INDEX docums_docums02 ON docums (nome)


if (exists(select top 1 name from sys.indexes where name = 'docums_docums03'))
	DROP INDEX docums_docums03 ON docums
CREATE INDEX docums_docums03 ON docums (tabela,ZZSTATE)

if (exists(select top 1 name from sys.indexes where name = 'forlstusr_codpsw'))
	DROP INDEX forlstusr_codpsw ON forlstusr
CREATE INDEX forlstusr_codpsw ON forlstusr (codpsw, descric)

if (exists(select top 1 name from sys.indexes where name = 'forlstcol_codlstusr'))
	DROP INDEX forlstcol_codlstusr ON forlstcol
CREATE INDEX forlstcol_codlstusr ON forlstcol (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'forlstren_codlstusr'))
	DROP INDEX forlstren_codlstusr ON forlstren
CREATE INDEX forlstren_codlstusr ON forlstren (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'forusrwid_codlstusr'))
	DROP INDEX forusrwid_codlstusr ON forusrwid
CREATE INDEX forusrwid_codlstusr ON forusrwid (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'fortblcfg_codpsw_uuid_name'))
	DROP INDEX fortblcfg_codpsw_uuid_name ON fortblcfg
CREATE INDEX fortblcfg_codpsw_uuid_name ON fortblcfg (codpsw, uuid, name)

if (exists(select top 1 name from sys.indexes where name = 'fortblcfg_codpsw_uuid'))
	DROP INDEX fortblcfg_codpsw_uuid ON fortblcfg
CREATE INDEX fortblcfg_codpsw_uuid ON fortblcfg (codpsw, uuid)


if (exists(select top 1 name from sys.indexes where name = 'logforall_logforall01'))
	DROP INDEX logforall_logforall01 ON logforall
CREATE CLUSTERED INDEX [logforall_logforall01] ON [dbo].[logFORall]([LOGTABLE] ASC, [LOGFIELD] ASC, [OP] ASC,[DATE] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


UPDATE FORcfg set versindx = 36
end
GO