USE [W_GnBD]
DECLARE @nameLog NVARCHAR(250)
SET @nameLog = (SELECT RTRIM(NAME) FROM sysfiles WHERE STATUS & 0x40<>0)
IF (LEN(@nameLog) != 0)
	USE [W_GnBD] DBCC SHRINKFILE (@nameLog, EMPTYFILE);
GO
