USE [W_GnBD]
ALTER TABLE [dbo].[FORCITY] WITH NOCHECK ADD CONSTRAINT [FK_FORCITY_CODCOUNT_FORCOUNT_CODCOUNT] FOREIGN KEY([CODCOUNT]) REFERENCES [dbo].[FORCOUNT] ([CODCOUNT])
ALTER TABLE [dbo].[FORCITY] NOCHECK CONSTRAINT [FK_FORCITY_CODCOUNT_FORCOUNT_CODCOUNT]

ALTER TABLE [dbo].[FORCTAX] WITH NOCHECK ADD CONSTRAINT [FK_FORCTAX_CODCITY_FORCITY_CODCITY] FOREIGN KEY([CODCITY]) REFERENCES [dbo].[FORCITY] ([CODCITY])
ALTER TABLE [dbo].[FORCTAX] NOCHECK CONSTRAINT [FK_FORCTAX_CODCITY_FORCITY_CODCITY]

ALTER TABLE [dbo].[FORPHOTO] WITH NOCHECK ADD CONSTRAINT [FK_FORPHOTO_CODPROPE_FORPROPERTY_CODPROPE] FOREIGN KEY([CODPROPE]) REFERENCES [dbo].[FORPROPERTY] ([CODPROPE])
ALTER TABLE [dbo].[FORPHOTO] NOCHECK CONSTRAINT [FK_FORPHOTO_CODPROPE_FORPROPERTY_CODPROPE]

ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] NOCHECK CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] NOCHECK CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[USERAUTHORIZATION] WITH NOCHECK ADD CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[USERAUTHORIZATION] NOCHECK CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[FORAGENT] WITH NOCHECK ADD CONSTRAINT [FK_FORAGENT_CODCADDR_FORCOUNT_CODCOUNT] FOREIGN KEY([CODCADDR]) REFERENCES [dbo].[FORCOUNT] ([CODCOUNT])
ALTER TABLE [dbo].[FORAGENT] NOCHECK CONSTRAINT [FK_FORAGENT_CODCADDR_FORCOUNT_CODCOUNT]

ALTER TABLE [dbo].[FORAGENT] WITH NOCHECK ADD CONSTRAINT [FK_FORAGENT_CBORN_FORCOUNT_CODCOUNT] FOREIGN KEY([CBORN]) REFERENCES [dbo].[FORCOUNT] ([CODCOUNT])
ALTER TABLE [dbo].[FORAGENT] NOCHECK CONSTRAINT [FK_FORAGENT_CBORN_FORCOUNT_CODCOUNT]

ALTER TABLE [dbo].[FORCONTACT] WITH NOCHECK ADD CONSTRAINT [FK_FORCONTACT_CODPROPE_FORPROPERTY_CODPROPE] FOREIGN KEY([CODPROPE]) REFERENCES [dbo].[FORPROPERTY] ([CODPROPE])
ALTER TABLE [dbo].[FORCONTACT] NOCHECK CONSTRAINT [FK_FORCONTACT_CODPROPE_FORPROPERTY_CODPROPE]

ALTER TABLE [dbo].[FORPROPERTY] WITH NOCHECK ADD CONSTRAINT [FK_FORPROPERTY_CODAGENT_FORAGENT_CODAGENT] FOREIGN KEY([CODAGENT]) REFERENCES [dbo].[FORAGENT] ([CODAGENT])
ALTER TABLE [dbo].[FORPROPERTY] NOCHECK CONSTRAINT [FK_FORPROPERTY_CODAGENT_FORAGENT_CODAGENT]

ALTER TABLE [dbo].[FORPROPERTY] WITH NOCHECK ADD CONSTRAINT [FK_FORPROPERTY_CODCITY_FORCITY_CODCITY] FOREIGN KEY([CODCITY]) REFERENCES [dbo].[FORCITY] ([CODCITY])
ALTER TABLE [dbo].[FORPROPERTY] NOCHECK CONSTRAINT [FK_FORPROPERTY_CODCITY_FORCITY_CODCITY]

GO
