*{forphoto}*

GO
USE [W_GnBD]
GO
*{forcontact}*

GO
USE [W_GnBD]
GO
*{forproperty}*
USE [W_GnBD]
update [forproperty] set
     [numbercontacts] = + (select isnull(count(*),0) from [forcontact] as source where [forproperty].[codprope] = source.[codprope] and source.zzstate = 0)

GO
USE [W_GnBD]
GO
*{forctax}*

GO
USE [W_GnBD]
GO
*{foragent}*
USE [W_GnBD]
update [foragent] set
     [nrprops] = + (select isnull(count(*),0) from [forproperty] as source where [foragent].[codagent] = source.[codagent] and source.zzstate = 0)
,
     [profit] = + (select isnull(sum(source.[PROFIT]),0) from [forproperty] as source where [foragent].[codagent] = source.[codagent] and source.zzstate = 0)

GO
USE [W_GnBD]
GO
*{userauthorization}*

GO
USE [W_GnBD]
GO
*{asyncprocessattachments}*

GO
USE [W_GnBD]
GO
*{asyncprocessargument}*

GO
USE [W_GnBD]
GO
*{forcity}*

GO
USE [W_GnBD]
GO
*{stats}*

GO
USE [W_GnBD]
GO
*{notificationmessage}*

GO
USE [W_GnBD]
GO
*{notificationemailsignature}*

GO
USE [W_GnBD]
GO
*{asyncprocess}*

GO
USE [W_GnBD]
GO
*{userlogin}*

GO
USE [W_GnBD]
GO
*{formem}*

GO
USE [W_GnBD]
GO
*{forcount}*

GO
USE [W_GnBD]
GO
