*{forcount}*
GO
*{formem}*
GO
*{userlogin}*
GO
*{asyncprocess}*
USE [W_GnBD]
update [s_apr] set [finished] = (case when ([s_apr].[status]='T' or [s_apr].[status]='AB' or [s_apr].[status]='C') then 1 else 0 end) from [asyncprocess] as [s_apr]
GO
*{notificationemailsignature}*
GO
*{notificationmessage}*
GO
*{forcity}*
GO
*{asyncprocessargument}*
GO
*{asyncprocessattachments}*
GO
*{userauthorization}*
USE [W_GnBD]
update [s_ua] set [naodupli] = dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo] from [userauthorization] as [s_ua]
update [s_ua] set [nivel] = dbo.GetLevelFromRole([s_ua].[nivel],[s_ua].[role]) from [userauthorization] as [s_ua]
GO
*{foragent}*
USE [W_GnBD]
update [agent] set [age] = dbo.Age([agent].[birthdat]) from [foragent] as [agent]
GO
*{forctax}*
GO
*{forproperty}*
USE [W_GnBD]
update [prope] set [buildage] = year(cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime))-year([prope].[dtconst]) from [forproperty] as [prope]
update [prope] set [profit] = (case when ([prope].[sold]=1) then [prope].[price] else 0 end) from [forproperty] as [prope]
GO
*{forcontact}*
GO
*{forphoto}*
GO
