-- recalculo de fórmulas para a tabela FORPHOTO
GO
GO
-- recalculo de fórmulas para a tabela FORcontact
-- Layer 0
GO
GO
-- recalculo de fórmulas para a tabela FORproperty
USE [W_GnBD]
-- Last value from forcontact
update [forproperty] set [lastvisit] = tmptab1.[visit_date] from [forproperty] inner join (select tmpFromTab.[CODPROPE], max(tmpFromTab.[visit_date]) as uData from [forcontact] as tmpFromTab  where zzstate = 0 group by tmpFromTab.[CODPROPE]) as tmptab2 on [forproperty].[codprope] = tmptab2.[codprope] inner join [forcontact] as tmptab1 on [forproperty].[codprope] = tmptab1.[codprope] where tmptab1.[visit_date] = tmptab2.uData
-- Clean last value from forcontact
update [forproperty] set [lastvisit] = NULL where not exists(select [src].[codprope] from [forcontact] [src] where [src].[codprope] = [forproperty].[codprope] and [src].[codprope] is not null and [src].[zzstate] = 0 group by [src].[CODPROPE])
GO
USE [W_GnBD]
update [forproperty] set
     [numbercontacts] = + (select isnull(count(*),0) from [forcontact] as source where [forproperty].[codprope] = source.[codprope] and source.zzstate = 0)

GO
-- Layer 0
update [prope]
SET [prope].[buildage] =year(cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime))-year([prope].[dtconst])
,[prope].[profit] =(case when ([prope].[sold]=1) then [prope].[price] else 0 end)
,[prope].[average] =dbo.Average()
,[prope].[tax] =dbo.getCityTax([prope].[codprope])
FROM [forproperty] AS [prope]


GO
GO
-- recalculo de fórmulas para a tabela FORCTAX
GO
GO
-- recalculo de fórmulas para a tabela FORAGENT
USE [W_GnBD]
-- Last value from forproperty
update [foragent] set [lastprop] = tmptab1.[price] from [foragent] inner join (select tmpFromTab.[CODAGENT], max(tmpFromTab.[dtsold]) as uData from [forproperty] as tmpFromTab  where zzstate = 0 group by tmpFromTab.[CODAGENT]) as tmptab2 on [foragent].[codagent] = tmptab2.[codagent] inner join [forproperty] as tmptab1 on [foragent].[codagent] = tmptab1.[codagent] where tmptab1.[dtsold] = tmptab2.uData
-- Clean last value from forproperty
update [foragent] set [lastprop] = NULL where not exists(select [src].[codagent] from [forproperty] [src] where [src].[codagent] = [foragent].[codagent] and [src].[codagent] is not null and [src].[zzstate] = 0 group by [src].[CODAGENT])
GO
USE [W_GnBD]
update [foragent] set
     [nrprops] = + (select isnull(count(*),0) from [forproperty] as source where [foragent].[codagent] = source.[codagent] and source.zzstate = 0)
,
     [profit] = + (select isnull(sum(source.[PROFIT]),0) from [forproperty] as source where [foragent].[codagent] = source.[codagent] and source.zzstate = 0)

GO
-- Layer 0
update [agent]
SET [agent].[age] =dbo.Age([agent].[birthdat])
,[agent].[average_price] =dbo.averagePriceAgent([agent].[codagent])
FROM [foragent] AS [agent]


GO
GO
-- recalculo de fórmulas para a tabela UserAuthorization
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole([s_ua].[nivel],[s_ua].[role])
FROM [userauthorization] AS [s_ua]


GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessAttachments
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcessArgument
GO
GO
-- recalculo de fórmulas para a tabela FORCITY
GO
GO
-- recalculo de fórmulas para a tabela STATS
GO
GO
-- recalculo de fórmulas para a tabela NotificationMessage
GO
GO
-- recalculo de fórmulas para a tabela NotificationEmailSignature
GO
GO
-- recalculo de fórmulas para a tabela AsyncProcess
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]='T' or [s_apr].[status]='AB' or [s_apr].[status]='C') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]


GO
GO
-- recalculo de fórmulas para a tabela UserLogin
GO
GO
-- recalculo de fórmulas para a tabela FORMEM
GO
GO
-- recalculo de fórmulas para a tabela FORCOUNT
GO
GO


GO
