USE [W_GnBD]
DECLARE @nextcod bigint

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORAGENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORAGENT', coalesce(cast((select max(codagent) from FORAGENT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORCITY')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORCITY', coalesce(cast((select max(codcity) from FORCITY) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORcontact')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORcontact', coalesce(cast((select max(codconta) from FORcontact) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORCOUNT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORCOUNT', coalesce(cast((select max(codcount) from FORCOUNT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORCTAX')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORCTAX', coalesce(cast((select max(codctax) from FORCTAX) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORPHOTO')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORPHOTO', coalesce(cast((select max(codphoto) from FORPHOTO) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORproperty')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORproperty', coalesce(cast((select max(codprope) from FORproperty) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserLogin')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserLogin', coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'AsyncProcessAttachments')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('AsyncProcessAttachments', coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORMEM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORMEM', coalesce(cast((select max(CODMEM) from FORMEM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORCFG', coalesce(cast((select max(CODCFG) from FORCFG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORUSRSET')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORUSRSET', coalesce(cast((select max(CODUSRSET) from FORUSRSET) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORUSRCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORUSRCFG', coalesce(cast((select max(CODUSRCFG) from FORUSRCFG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORWKFACT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORWKFACT', coalesce(cast((select max(CODWKFACT) from FORWKFACT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORWKFCON')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORWKFCON', coalesce(cast((select max(CODWKFCON) from FORWKFCON) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORWKFLIG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORWKFLIG', coalesce(cast((select max(CODWKFLIG) from FORWKFLIG) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORWKFLOW')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORWKFLOW', coalesce(cast((select max(CODWKFLOW) from FORWKFLOW) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORNOTIFI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORNOTIFI', coalesce(cast((select max(CODNOTIFI) from FORNOTIFI) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORSCRCRD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORSCRCRD', coalesce(cast((select max(CODSCRCRD) from FORSCRCRD) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORPOSTIT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORPOSTIT', coalesce(cast((select max(CODPOSTIT) from FORPOSTIT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORPRMFRM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORPRMFRM', coalesce(cast((select max(CODPRMFRM) from FORPRMFRM) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORALERTA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORALERTA', coalesce(cast((select max(CODALERTA) from FORALERTA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORALTENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORALTENT', coalesce(cast((select max(CODALTENT) from FORALTENT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORTALERT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORTALERT', coalesce(cast((select max(CODTALERT) from FORTALERT) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORDELEGA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORDELEGA', coalesce(cast((select max(CODDELEGA) from FORDELEGA) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORLSTUSR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORLSTUSR', coalesce(cast((select max(CODLSTUSR) from FORLSTUSR) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORLSTCOL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORLSTCOL', coalesce(cast((select max(CODLSTCOL) from FORLSTCOL) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORLSTREN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORLSTREN', coalesce(cast((select max(CODLSTREN) from FORLSTREN) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORUSRWID')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORUSRWID', coalesce(cast((select max(CODUSRWID) from FORUSRWID) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORTBLCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORTBLCFG', coalesce(cast((select max(CODTBLCFG) from FORTBLCFG) as bigint) + 1, 1))

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'HASHCD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('HASHCD', coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'DOCUMS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('DOCUMS', coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORWORKFLOWPROCESS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORWORKFLOWPROCESS', coalesce(cast((select max(CODPRCESS) from FORWORKFLOWPROCESS) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'FORWORKFLOWTASK')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('FORWORKFLOWTASK', coalesce(cast((select max(CODTASK) from FORWORKFLOWTASK) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'ReportList')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('ReportList', coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1))
GO
 