-- Delete all stored procedures that start with Genio.
-- This is needed because previous changes to the procedure signature keep the old versions active,
-- which can pass unnoticed very easily in existing applications
DECLARE @deleteSql NVARCHAR(MAX) = '';
SELECT @deleteSql += 'DROP PROCEDURE ' + QUOTENAME(SCHEMA_NAME(schema_id)) + '.' + QUOTENAME(name) + ';' + CHAR(13)
FROM sys.procedures
WHERE name LIKE 'genio_%';

USE [W_GnBD]
EXEC sp_executesql @deleteSql;
-----------------------------------------------------------
-- COUNT
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_COUNT
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de COUNT
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- COUNT
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_COUNT
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de COUNT
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_COUNT @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for COUNT
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- MEM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_MEM
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MEM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- MEM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_MEM
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MEM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_MEM @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for MEM
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- PSW
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_UserLogin
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PSW
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- PSW
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_UserLogin
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PSW
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_UserLogin @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for PSW
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [psw] set
	[ATTEMPTS] = COALESCE([psw].[ATTEMPTS], 0)
 ,	[STATUS] = COALESCE([psw].[STATUS], 0)
	FROM [userlogin] AS [psw]

	WHERE ([psw].[codpsw] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- S_APR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcess
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_APR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]=''T'' or [s_apr].[status]=''AB'' or [s_apr].[status]=''C'') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]

 where ([s_apr].[codascpr] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- S_APR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcess
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_APR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]=''T'' or [s_apr].[status]=''AB'' or [s_apr].[status]=''C'') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]

 where ([s_apr].[codascpr] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcess @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_APR
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [s_apr] set
	[PERCENTA] = COALESCE([s_apr].[PERCENTA], 0)
	FROM [asyncprocess] AS [s_apr]

	WHERE ([s_apr].[codascpr] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- S_NES
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_NotificationEmailSignature
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NES
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_NES
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_NotificationEmailSignature
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NES
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_NotificationEmailSignature @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_NES
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_NM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_NotificationMessage
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_NM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_NotificationMessage
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_NotificationMessage @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_NM
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- CITY
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_CITY
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CITY
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- CITY
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_CITY
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CITY
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_CITY @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for CITY
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_ARG
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcessArgument
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_ARG
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcessArgument
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcessArgument @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_PAX
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcessAttachments
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_PAX
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcessAttachments
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcessAttachments @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_UA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_UserAuthorization
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_UA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole([s_ua].[nivel],[s_ua].[role])
FROM [userauthorization] AS [s_ua]

 where ([s_ua].[codua] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- S_UA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_UserAuthorization
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_UA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole([s_ua].[nivel],[s_ua].[role])
FROM [userauthorization] AS [s_ua]

 where ([s_ua].[codua] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_UserAuthorization @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_UA
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [s_ua] set
	[NIVEL] = COALESCE([s_ua].[NIVEL], 0)
	FROM [userauthorization] AS [s_ua]

	WHERE ([s_ua].[codua] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- AGENT
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AGENT
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de AGENT
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- AGENT
-- Assumimos que as formulas dos seguintes campos estão bem calculadas:
-----------------------------------------------------------
-- [PROPE -> PROFIT]
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR
update [foragent] set
	 [nrprops] =  + isnull([sum__prope__codagent].[count__], 0)
	, [profit] =  + isnull([sum__prope__codagent].[sum__profit], 0)
from [foragent] sr__dest
left join (
	SELECT [codagent], count(1) as [count__], sum([profit]) as [sum__profit]
 FROM [forproperty]
 WHERE [zzstate] = 0 
 GROUP BY [codagent]
) [sum__prope__codagent] ON [sum__prope__codagent].[codagent] = sr__dest.[codagent]
where (sr__dest.[codagent] = @x OR @x IS NULL);

-- UV
update [foragent] set
	 [LASTPROP] = isnull([uv__prope__codagent__0].[price], 0)
from [foragent] uv__dest
left join (
SELECT [uv_row].[codagent], [uv_row].[price]
 FROM [forproperty] as [uv_row]
 INNER JOIN (SELECT [codagent], max([dtsold]) as [dtsold]
 FROM [forproperty]
 WHERE [zzstate] = 0 
 GROUP BY [codagent])  as [uv_group] ON [uv_group].[codagent] = [uv_row].[codagent] AND [uv_group].[dtsold] = [uv_row].[dtsold] 
 WHERE [uv_row].[zzstate] = 0 
) [uv__prope__codagent__0] ON [uv__prope__codagent__0].[codagent] = uv__dest.[codagent]
where (uv__dest.[codagent] = @x OR @x IS NULL);
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [agent]
SET [agent].[age] =dbo.Age([agent].[birthdat])
,[agent].[average_price] =dbo.averagePriceAgent([agent].[codagent])
FROM [foragent] AS [agent]

 where ([agent].[codagent] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- AGENT
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AGENT
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de AGENT
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- AGENT
-- Assumimos que as formulas dos seguintes campos estão bem calculadas:
-----------------------------------------------------------
-- [PROPE -> PROFIT]
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR
update [foragent] set
	 [nrprops] =  + isnull([sum__prope__codagent].[count__], 0)
	, [profit] =  + isnull([sum__prope__codagent].[sum__profit], 0)
from [foragent] sr__dest
left join (
	SELECT [codagent], count(1) as [count__], sum([profit]) as [sum__profit]
 FROM [forproperty]
 WHERE [zzstate] = 0 
 GROUP BY [codagent]
) [sum__prope__codagent] ON [sum__prope__codagent].[codagent] = sr__dest.[codagent]
where (sr__dest.[codagent] in (select item from @x));

-- UV
update [foragent] set
	 [LASTPROP] = isnull([uv__prope__codagent__0].[price], 0)
from [foragent] uv__dest
left join (
SELECT [uv_row].[codagent], [uv_row].[price]
 FROM [forproperty] as [uv_row]
 INNER JOIN (SELECT [codagent], max([dtsold]) as [dtsold]
 FROM [forproperty]
 WHERE [zzstate] = 0 
 GROUP BY [codagent])  as [uv_group] ON [uv_group].[codagent] = [uv_row].[codagent] AND [uv_group].[dtsold] = [uv_row].[dtsold] 
 WHERE [uv_row].[zzstate] = 0 
) [uv__prope__codagent__0] ON [uv__prope__codagent__0].[codagent] = uv__dest.[codagent]
where (uv__dest.[codagent] in (select item from @x));
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [agent]
SET [agent].[age] =dbo.Age([agent].[birthdat])
,[agent].[average_price] =dbo.averagePriceAgent([agent].[codagent])
FROM [foragent] AS [agent]

 where ([agent].[codagent] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AGENT @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for AGENT
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [agent] set
	[EMAIL] = COALESCE([agent].[EMAIL], ''@agency.com'')
 ,	[NRPROPS] = COALESCE([agent].[NRPROPS], 0)
 ,	[PROFIT] = COALESCE([agent].[PROFIT], 0)
 ,	[LASTPROP] = COALESCE([agent].[LASTPROP], 0)
 ,	[AGE] = COALESCE([agent].[AGE], 0)
 ,	[AVERAGE_PRICE] = COALESCE([agent].[AVERAGE_PRICE], 0)
	FROM [foragent] AS [agent]

	WHERE ([agent].[codagent] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- CTAX
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_CTAX
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CTAX
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- CTAX
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_CTAX
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CTAX
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_CTAX @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for CTAX
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [ctax] set
	[TAX] = COALESCE([ctax].[TAX], 0)
	FROM [forctax] AS [ctax]

	WHERE ([ctax].[codctax] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- PROPE
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_property
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PROPE
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR
update [forproperty] set
	 [numbercontacts] =  + isnull([sum__conta__codprope].[count__], 0)
from [forproperty] sr__dest
left join (
	SELECT [codprope], count(1) as [count__]
 FROM [forcontact]
 WHERE [zzstate] = 0 
 GROUP BY [codprope]
) [sum__conta__codprope] ON [sum__conta__codprope].[codprope] = sr__dest.[codprope]
where (sr__dest.[codprope] = @x OR @x IS NULL);

-- UV
update [forproperty] set
	 [LASTVISIT] = isnull([uv__conta__codprope__0].[client], '''')
from [forproperty] uv__dest
left join (
SELECT [uv_row].[codprope], [uv_row].[client]
 FROM [forcontact] as [uv_row]
 INNER JOIN (SELECT [codprope], max([visit_date]) as [visit_date]
 FROM [forcontact]
 WHERE [zzstate] = 0 
 GROUP BY [codprope])  as [uv_group] ON [uv_group].[codprope] = [uv_row].[codprope] AND [uv_group].[visit_date] = [uv_row].[visit_date] 
 WHERE [uv_row].[zzstate] = 0 
) [uv__conta__codprope__0] ON [uv__conta__codprope__0].[codprope] = uv__dest.[codprope]
where (uv__dest.[codprope] = @x OR @x IS NULL);
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [prope]
SET [prope].[buildage] =year(cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime))-year([prope].[dtconst])
,[prope].[profit] =(case when ([prope].[sold]=1) then [prope].[price] else 0 end)
,[prope].[average] =dbo.Average()
,[prope].[tax] =dbo.getCityTax([prope].[codprope])
FROM [forproperty] AS [prope]

 where ([prope].[codprope] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- PROPE
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_property
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PROPE
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR
update [forproperty] set
	 [numbercontacts] =  + isnull([sum__conta__codprope].[count__], 0)
from [forproperty] sr__dest
left join (
	SELECT [codprope], count(1) as [count__]
 FROM [forcontact]
 WHERE [zzstate] = 0 
 GROUP BY [codprope]
) [sum__conta__codprope] ON [sum__conta__codprope].[codprope] = sr__dest.[codprope]
where (sr__dest.[codprope] in (select item from @x));

-- UV
update [forproperty] set
	 [LASTVISIT] = isnull([uv__conta__codprope__0].[client], '''')
from [forproperty] uv__dest
left join (
SELECT [uv_row].[codprope], [uv_row].[client]
 FROM [forcontact] as [uv_row]
 INNER JOIN (SELECT [codprope], max([visit_date]) as [visit_date]
 FROM [forcontact]
 WHERE [zzstate] = 0 
 GROUP BY [codprope])  as [uv_group] ON [uv_group].[codprope] = [uv_row].[codprope] AND [uv_group].[visit_date] = [uv_row].[visit_date] 
 WHERE [uv_row].[zzstate] = 0 
) [uv__conta__codprope__0] ON [uv__conta__codprope__0].[codprope] = uv__dest.[codprope]
where (uv__dest.[codprope] in (select item from @x));
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [prope]
SET [prope].[buildage] =year(cast(floor(cast(CURRENT_TIMESTAMP as float)) as datetime))-year([prope].[dtconst])
,[prope].[profit] =(case when ([prope].[sold]=1) then [prope].[price] else 0 end)
,[prope].[average] =dbo.Average()
,[prope].[tax] =dbo.getCityTax([prope].[codprope])
FROM [forproperty] AS [prope]

 where ([prope].[codprope] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_property @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for PROPE
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [prope] set
	[PRICE] = COALESCE([prope].[PRICE], 0)
 ,	[SIZE] = COALESCE([prope].[SIZE], 0)
 ,	[BATHNR] = COALESCE([prope].[BATHNR], 0)
 ,	[BUILDAGE] = COALESCE([prope].[BUILDAGE], 0)
 ,	[GRDSIZE] = COALESCE([prope].[GRDSIZE], 0)
 ,	[FLOORNR] = COALESCE([prope].[FLOORNR], 0)
 ,	[PROFIT] = COALESCE([prope].[PROFIT], 0)
 ,	[DTSOLD] = COALESCE([prope].[DTSOLD], dateadd(dd, datediff(dd,0, getDate()), 0))
 ,	[AVERAGE] = COALESCE([prope].[AVERAGE], 0)
 ,	[TAX] = COALESCE([prope].[TAX], 0)
 ,	[NUMBERCONTACTS] = COALESCE([prope].[NUMBERCONTACTS], 0)
	FROM [forproperty] AS [prope]

	WHERE ([prope].[codprope] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- CONTA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_contact
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CONTA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [conta]
SET [conta].[pricepro] =ISNULL([prope].[price], 0)
FROM [forcontact] AS [conta]
LEFT JOIN [forproperty] as [prope] ON [conta].[codprope]=[prope].[codprope]

 where ([conta].[codconta] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- CONTA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_contact
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CONTA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [conta]
SET [conta].[pricepro] =ISNULL([prope].[price], 0)
FROM [forcontact] AS [conta]
LEFT JOIN [forproperty] as [prope] ON [conta].[codprope]=[prope].[codprope]

 where ([conta].[codconta] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_contact @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for CONTA
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [conta] set
	[DATE] = COALESCE([conta].[DATE], dateadd(dd, datediff(dd,0, getDate()), 0))
 ,	[PRICEPRO] = COALESCE([conta].[PRICEPRO], 0)
	FROM [forcontact] AS [conta]

	WHERE ([conta].[codconta] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- PHOTO
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_PHOTO
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PHOTO
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- PHOTO
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_PHOTO
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PHOTO
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------

-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_PHOTO @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for PHOTO
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
