USE [W_GnBD]

GO
UPDATE dest SET dest.[pricepro] = source.[price] FROM forcontact AS dest INNER JOIN forproperty AS source ON source.codprope = dest.codprope WHERE dest.[pricepro] is null OR dest.[pricepro] != source.[price]
UPDATE dest SET dest.[pricepro] = 0 FROM forcontact AS dest WHERE (codprope IS NULL OR codprope = '') AND dest.[pricepro]  != 0 
GO

