*{forcount}*
USE [W_GnBD]
GO
*{formem}*
USE [W_GnBD]
GO
*{userlogin}*
USE [W_GnBD]
GO
*{asyncprocess}*
USE [W_GnBD]
GO
*{notificationemailsignature}*
USE [W_GnBD]
GO
*{notificationmessage}*
USE [W_GnBD]
GO
*{forcity}*
USE [W_GnBD]
GO
*{asyncprocessargument}*
USE [W_GnBD]
GO
*{asyncprocessattachments}*
USE [W_GnBD]
GO
*{userauthorization}*
USE [W_GnBD]
GO
*{foragent}*
USE [W_GnBD]
update [foragent] set [lastprop] = tmptab1.[price] from [foragent] inner join (select tmpFromTab.[CODAGENT], max(tmpFromTab.[dtsold]) as uData from [forproperty] as tmpFromTab  where zzstate = 0 group by tmpFromTab.[CODAGENT]) as tmptab2 on [foragent].[codagent] = tmptab2.[codagent] inner join [forproperty] as tmptab1 on [foragent].[codagent] = tmptab1.[codagent] where tmptab1.[dtsold] = tmptab2.uData
update [foragent] set [lastprop] = NULL where not exists(select [src].[codagent] from [forproperty] [src] where [src].[codagent] = [foragent].[codagent] and [src].[codagent] is not null and [src].[zzstate] = 0 group by [src].[CODAGENT])
GO
*{forctax}*
USE [W_GnBD]
GO
*{forproperty}*
USE [W_GnBD]
GO
*{forcontact}*
USE [W_GnBD]
GO
*{forphoto}*
USE [W_GnBD]
GO
