IF((SELECT COUNT(1) FROM FORcfg) = 0)
	INSERT INTO FORcfg (codcfg, checkdat, versao, versindx, manutdat, upgrindx, zzstate) VALUES ('     1', GETDATE(), 2532, 0, NULL, 0, 0)
ELSE
  UPDATE FORcfg set versao = 2532, upgrindx = 0;
GO
