# Logs
logs
*.log
pnpm-debug.log*

!packages/*

dist
dist_proto
node_modules
obj
.eslintcache
coverage
storybook-static/

# Output of 'npm pack'
*.tgz

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log

# VS generates an empty package-lock.json
package-lock.json
